.watch {
	position :absolute;
	background: #333333;
	border: 3px solid grey;
	border-radius: 15px;
	display: inline-block;
	/*margin: 200px;*/
	margin-top: 270px;
	margin-bottom: 200px;
	margin-left: 700px;
	margin-right: 700px;
	height: 200px;
	width : 180px;
	z-index: 200;
}

.button_forward {
	position: absolute;
	background: #333333;
	border-top: 3px solid grey;
	border-right: 3px solid grey;
	border-bottom: 3px solid grey;
	display: inline-block;
	height: 30px;
	width: 10px;
	z-index: 200;
	margin-top: 305px;
	margin-left:886px;
}

.button_return {
	position: absolute;
	background: #333333;
	border-top: 3px solid grey;
	border-right: 3px solid grey;
	border-bottom: 3px solid grey;
	display: inline-block;
	height: 30px;
	width: 10px;
	z-index: 200;
	margin-top: 410px;
	margin-left: 886px;
	margin-right: 800px;
	cursor: pointer;
}


#strap_up {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-left: 695px;
	margin-top: 148px;
	z-index: 10;
	display: inline-block;
}

#strap_down {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-left: 697px;
	margin-top: 408px;
	z-index: 10;
	display: inline-block;
}

.table_header {
    position: absolute;
    z-index: 300;
    color: white;
    margin-top: 285px;
    margin-left: 723px;
    font-family: Helvetica;
}

table{
    position: absolute;
    border: 1px solid #333333;
    z-index: 300;
    font-size: 12.5px;
    margin-top: 315px;
    margin-left: 710px;
    color: white;
    height: 16%;
    width: 9%;
    font-family: Helvetica;
}
