.watch {
	position :absolute;
	background: #333333;
	border: 3px solid grey;
	border-radius: 15px;
	display: inline-block;
	/*margin: 200px;*/
	margin-top: 270px;
	margin-bottom: 200px;
	margin-left: 700px;
	margin-right: 700px;
	height: 200px;
	width : 180px;
	z-index: 200;
}

.lineup {
	position: absolute;
	border-radius: 15px;
	display: block;
	margin-top: 200px;
	margin-left: 700px;
	margin-bottom: 280px;
	margin-right: 700px;
	height: 2000px;
	width: 180px;
	z-index: 210;
}

.button_forward {
	position: absolute;
	background: #333333;
	border-top: 3px solid grey;
	border-right: 3px solid grey;
	border-bottom: 3px solid grey;
	display: inline-block;
	height: 30px;
	width: 10px;
	z-index: 200;
	margin-top: 305px;
	margin-left:886px;
	cursor: pointer;
}

.button_return {
	position: absolute;
	background: #333333;
	border-top: 3px solid grey;
	border-right: 3px solid grey;
	border-bottom: 3px solid grey;
	display: inline-block;
	height: 30px;
	width: 10px;
	z-index: 200;
	margin-top: 410px;
	margin-left: 886px;
	margin-right: 800px;
}


#strap_up {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-left: 695px;
	margin-top: 148px;
	z-index: 10;
	display: inline-block;
}

#strap_down {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-left: 697px;
	margin-top: 408px;
	z-index: 10;
	display: inline-block;
}

#hours {
	position: relative;
	margin-top: 12%;
	font-family: Helvetica;
	z-index: 10;
	height: 100px;
	font-size: 60px;
	color: #ffffff;
}

#date {
	position: relative;
	color: black;
	font-family: Helvetica;
	z-index: 10;
	height: 50px;
	width: 50px;
	font-size: 30px;
	display: inline-block;
	margin-right: 100px;
	margin-top: 26px;
	color: #ffffff;
}

#line_up {
	position: relative;
	background: #333333;
	margin-top: 2px;
	margin-left: 3px;
	z-index: 210;
	height: 203.7px;
	width: 180px;
	border-radius: 15px;
}
